<ion-header>
	<ion-navbar>
		<ion-title>Login</ion-title>
		<ion-buttons end>
			<button ion-button color="primary" text-center block [disabled]="!form.valid" (click)="sendNotification('Nada de nada')">
				<ion-icon ios="ios-download" md="md-download"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div>
		<!--ion-item *ngIf="isEdited && !hideForm">
			<button ion-button item-right color="secondary" text-center block (click)="deleteEntry()">
				Eliminar
			</button>
		</ion-item>
		<div *ngIf="hideForm">
			<ion-item class="post-entry-message" text-wrap>
				<h2>Success!</h2>
				<p>Quieres Editar o Eliminar un registro?</p>
				<p>Simplemente dale Regresar y selecciona la opción</p>
			</ion-item>
		</div-->

		<div *ngIf="!hideForm">
			<form [formGroup]="form" (ngSubmit)="authenticate()">
				<ion-list>
					<ion-item-group>
						<ion-item>
							<ion-input placeholder="Email..." formControlName="email" [(ngModel)]="email">
							</ion-input>
						</ion-item>
						<ion-item>
							<ion-input type="password" placeholder="Password..." formControlName="password"
								 [(ngModel)]="password"></ion-input>
						</ion-item>

						<ion-item>
							<button ion-button color="primary" text-center block [disabled]="!form.valid">
								Ingresar
							</button>
						</ion-item>

					</ion-item-group>
				</ion-list>
			</form>
			<button ion-button color="secondary" text-center block (click)="signIn()">
				Registrar
			</button>
		</div>
	</div>
</ion-content>