<ion-header>
  <ion-navbar>
	<ion-title>
		<ion-icon ios="logo-freebsd-devil" md="logo-freebsd-devil"></ion-icon>&nbsp;Inventory Manager
	</ion-title>
	<ion-label>Bienvenido (a) {{firstName + ' ' + lastName}} </ion-label>
	<ion-buttons end>
		<button ion-button icon-only (click)="addEntry()">
			<ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
		</button>

		<button ion-button>
			<ion-icon name="menu"></ion-icon>
		</button>

	</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content
			pullingIcon="arrow-dropdown"
			pullingText="Pull to refresh"
			refresingSpinner="circles"
			refreshinText="Refrescando...">
		</ion-refresher-content>
	</ion-refresher>

<!-- Crear caja de texto para busqueda aboutsetFilteredItems-->
<ion-searchbar
	[(ngModel)]="searchTerm"
	(ionInput)="onSearchInput()"
	animated="true"
	debounce="1000"
	placeholder="Buscar" light #Search>>
</ion-searchbar>

<!-- Spinner para la busqueda, se activa cuando el atributo searching se pone en true
en el controlador .ts-->
<div *ngIf="searching" class="spinner-container">
	<ion-spinner></ion-spinner>
</div>
	
	<ion-list>
		<ion-item-sliding *ngFor="let item of items">
			<ion-item>
				<ion-thumbnail item-left>
					<img src="{{ item.foto }}">
				</ion-thumbnail>
				<h2><ion-icon ios="ios-star-outline" md="md-star-outline"></ion-icon>
					{{ item.producto }}
				</h2>
				<p><ion-icon ios="logo-usd" md="logo-usd"></ion-icon>
					<ion-badge>$ {{ item.precio | number:0 }}</ion-badge>
				</p>
				<p><ion-icon ios="ios-list-box" md="md-list-box"></ion-icon>
					$ {{ item.existencia | number:0 }} &nbsp; Und(s)
				</p>
			</ion-item>
			
			<ion-item-options>
				<button ion-button icon-only (click)="viewEntry({ record: item })" light>
					<ion-icon name="paper"></ion-icon>
				</button>
				<button ion-button icon-only (click)="deleteEntry({ record: item })" danger>
					<ion-icon name="trash"></ion-icon>
				</button>				
			</ion-item-options>			
		</ion-item-sliding>
	</ion-list>
</ion-content>

<ion-footer>
		<ion-toolbar>
				<ion-buttons end>
						<button ion-button icon-only (click)="exit()">
								<ion-icon name="exit"></ion-icon>
							</button>
					</ion-buttons>
		</ion-toolbar>
</ion-footer>
