<ion-menu [content]="content">
    <!--ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header-->

    <ion-content>
        <ion-list>
            <button menu-close ion-item *ngFor="let p of pages" (click)="openPage(p)">
                <ion-icon name="{{p.icon}}">
                    &nbsp;{{p.title}}
                </ion-icon>
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
