<ion-header>
  <ion-navbar>
    <ion-title>{{ pageTitle }}</ion-title>
	<ion-buttons end>
		<button
			ion-button
			color="primary"
			text-center
			block
			[disabled]="!form.valid"
			(click)="saveEntry()">
			<ion-icon ios="ios-download" md="md-download"></ion-icon>
		</button>
	</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div>
		<!--ion-item *ngIf="isEdited && !hideForm">
			<button
				ion-button
				item-right
				color="secondary"
				text-center
				block
				(click)="deleteEntry()">
			Eliminar
			</button>
		</ion-item-->
		<div *ngIf="hideForm">
			<ion-item class="post-entry-message" text-wrap>
				<h2>Success!</h2>
				<p>Quieres Editar o Eliminar un registro?</p>
				<p>Simplemente dale Regresar y selecciona la opción</p>		
			</ion-item>		
		</div>

		<div *ngIf="!hideForm">
			<form [formGroup]="form" (ngSubmit)="saveEntry()">
				<ion-list>
					<ion-item-group>
						<ion-item>
							<ion-label>Producto</ion-label>
							<ion-input
								placeholder="Nombre producto..."
								formControlName="producto"
								[(ngModel)]="producto">
							</ion-input>
						</ion-item>
						<ion-item>
							<ion-label>Existencia</ion-label>
							<ion-input
								placeholder="Existencia..."
								formControlName="existencia"
								type="number"
								[(ngModel)]="existencia">
							</ion-input>
						</ion-item>
						<ion-item>
							<ion-label>Precio</ion-label>
							<ion-input
								placeholder="Precio..."
								formControlName="precio"
								type="number"
								[(ngModel)]="precio">
							</ion-input>
						</ion-item>

						<ion-item>
							<ion-label>Proveedor</ion-label>
							<ion-input
								placeholder="Proveedor..."
								formControlName="proveedor"
								[(ngModel)]="proveedor">
							</ion-input>
						</ion-item>
							

						<ion-item>
							<ion-label>Foto</ion-label>
							<ion-input
								placeholder="Foto..."
								formControlName="foto"
								[(ngModel)]="foto">
							</ion-input>
						</ion-item>
						<ion-item>
							<button
								ion-button
								color="primary"
								text-center
								block
								[disabled]="!form.valid">
							Guardar
							</button>							
						</ion-item>
							
					</ion-item-group>
				</ion-list>
			</form>
		</div>
	</div>
</ion-content>
